/*=============== General ===============*/

:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;

  overflow: hidden;
}
