/*=============== General ===============*/

:root {
  color-scheme: dark;
  color: white;
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;

  overflow: hidden;
}

/*=============== App ===============*/

#app {
  width: 100%;
  min-height: 100vh;

  user-select: none;
}
